bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/CourseMicroservices/FileContentIndex/e64cf624-f403-4d27-9b52-b53ce47aef33.vsidx
/.vs/CourseMicroservices/FileContentIndex/366affc2-35ef-4d84-9748-9eb2df587e6e.vsidx
